body {
    background-color: azure;
    display: grid;
    align-items: center;
    justify-content: center;
}
/* Display none is the property which hide the HTML elements after this property is used */
/* display grid are displays an element as a block level grid container */
.input {
    background-color: whitesmoke;
    border: 1px solid #313949;
    box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
    border-radius: 12px 12px 12px 12px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: pink;
    line-height: 45px;
    height: 76px;
    width: 300px;
    /* identical to box height */
}

.container {
    margin-top: 20px;
}

.btn {
    font-size: 20px;
    min-width: 50px;
}

.BLUE {
    background-color: blue;
}

.red {
    background-color: whitesmoke;
}

.green {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(49 57 73 / 50%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), -4px 4px 4px #15c4db;
    border-radius: 7px;
    width: 76px;
    height: 76px;
    color: #f9f9f9;
    font-size: 55px;
}

.dropdown span {
    font-size: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #0E1625;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 76px;
    top: 30px;
    font-size: 40px;
    top: 30px;
}

.dropdown-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.result_CONTAINER {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result_CONTAINER div {
    width: 453px;
    height: 76px;

    background: linear-gradient(47.94deg, #15c4db 19.6%, #8bc34a 77.32%);
    border: 2px solid rgba(49, 57, 73, 0.5);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.result_CONTAINER button {
    width: 88px;
    height: 88px;
    background: linear-gradient(331.93deg, #ff9800 11.88%, #ffeb3bf2 85.18%);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

@media(max-width:768px) {
    .top_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .result_CONTAINER {
        flex-direction: column;
    }
}

@media(max-width:500px) {
    .result_CONTAINER div {
        width: 100%;
    }

    .input {
        width: 100px;
    }
}